<div class="recientes-container">
  <div class="tabs-navigation">
    <span *ngFor="let cat of categorias" class="tab"[class.active]="cat.id === categoriaEnfocada" (click)="seleccionarCategoria(cat.id, cat.fetcher)" >
      {{ cat.name }}
    </span>
  </div>

  <div class="episodes-list-container">
    <div *ngIf="isLoading" class="loading">Cargando {{ categoriaEnfocada }}...</div>

    <div *ngIf="error" class="error">
      {{ error }}
    </div>

    <div *ngIf="!isLoading && !error && animesRecientes.length > 0" class="episodes-list">
      <div
        *ngFor="let anime of animesRecientes; let i = index"
        class="episode-card"
        [routerLink]="['/anime', anime.mal_id]"
      >
        <img [src]="anime.images.webp.image_url" [alt]="anime.title" class="anime-image" />

        <div class="anime-info">
          <h3>{{ anime.title }}</h3>
          <p class="episode-count">EP {{ anime.episodes || 'TBD' }}</p>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading && !error && animesRecientes.length === 0" class="no-data">
      Error de conexion con la api {{ categoriaEnfocada }}.
    </div>
  </div>
</div>
